body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

/* Стили для секций */
section {
  padding: 2rem 0;
}

.hero {
  background-color: #fff;
  padding: 3rem 0;
  text-align: center;
  color:black;
}

.latest-news, .popular-articles {
  background-color: #fff;
  padding: 2rem 0;
  color: black;
}

.news-grid, .articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* Стили для футера */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.latest-news .container {
  display: flex;
  flex-direction: column; /* Выравниваем элементы по вертикали */
 }
 
 .latest-news .news-grid {
  display: block; /* Делаем блок блочным элементом */
  margin-bottom: 2rem; /* Добавляем отступ снизу для блока */
 }
 
 .latest-news .news-grid > *:not(img) { /* Отступ для всех элементов, кроме изображений */
  margin-bottom: 1rem; 
 }
 
 .latest-news .news-grid img {
  display: block; /* Делаем изображение блочным элементом */
  margin: 1rem 0; /* Добавляем отступ сверху и снизу для изображения */
  width: 80%; 
  max-width: 300px;
 }